<mat-card class="post-form">
  <mat-spinner *ngIf="Loading"></mat-spinner>  

  <form (ngSubmit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!Loading" class="form-container">    
      <mat-form-field class="full-width">
          <input matInput type="text" name="title" [(ngModel)]="post.title" required minlength="3" placeholder="Enter Title Here" #title="ngModel">
          <mat-error *ngIf="title.invalid && title.touched">Title is required and must be at least 3 characters.</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
          <textarea rows="6" matInput name="content" [(ngModel)]="post.content" required minlength="3" placeholder="Content" #content="ngModel"></textarea>
          <mat-error *ngIf="content.invalid && content.touched">Content is required and must be at least 3 characters.</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="postForm.invalid">Submit</button>
  </form>
</mat-card>
